/*Flexbox containers*/
.columnView{
    display:flex;
    flex-direction: column;
}
.rowView{
    display: flex;
    flex-direction: row;
}

/*Mobile Version*/
li{
    list-style-type: none;
}
#listUserQuestions{
    padding: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    border: 1px solid black;
    display: flex;
}
#answeredUnanswered{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    
}
#answeredUnanswered button{
    width: 50%;
    margin-top:0;
    cursor: pointer;
}
.isSelected{
    background-color: pink;
}
/* User's Questions Home View */
@media screen and (min-width:600px){
#listUserQuestions{
    width: 60%;
    font-size: 0.8rem;
}
#answeredQuestions, #unansweredQuestions{
    padding-left: 2%;    
}    
    
}

@media screen and (min-width:1025px){
    #listUserQuestions{
        border: 1px solid black;
        padding: 0;
        width: 33.3%;
        margin-left: auto;
        margin-right: auto;
    }
    #answeredUnanswered{
        display: flex;
        justify-content: center;
        border: 1px solid black;
    }
    #answeredUnanswered a{
        text-align: center;
        margin-top: 0;
        padding: 1%;
        font-size: 0.5rem;
        width: 100%;
        height: 100%;
        border-bottom: 1px solid black;
    }
}
